body {
    margin: 0;
}

.main {
    background-image: url("Images/BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    height: 200vh;
}


.header {
    display: flex;
    align-items: center;
    flex-shrink: 2;
    gap: 30px;
    justify-items: start;
    margin-left: 2vw;
    width: 100vw;
    height: 215px;
}

.header h1 {
    color: white;
    font-family: 'Inter';
    font-size: 48px;
    letter-spacing: .3rem;
}

.header img:nth-of-type(1) {
    height: 125px;
    width: auto;
}

.header img:nth-of-type(2) {
    /* margin-left: 0; */
    /* transform: scale(.9); */
    height: auto;
}

.gallery {
    display: flex;
    flex-direction: horizontal;
    width: 100vw;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.gallery-item {
    /* background-color: black; */
    position: relative;
}

.gallery-item img {
    max-width: 100%; 
    height: 65vh;
    width:400px;
    object-fit: cover;
}

.gallery-item:hover img {
    /* transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0.7; */
}

.gallery-item h2 {
    font-family: 'Inter Tight';
    user-select: none;
    font-weight: 900;
    text-transform:uppercase;
    font-size: 56px;
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    text-wrap: nowrap;
    bottom: 0;
    right: -60px;
    position: absolute;
    display: none;
    color: white;
}  

.gallery-item:hover h2 {
    display: block
}

.floater {
    position: absolute;
    top: 88vh;
    left: 40px;
    z-index: 3;
    font-family: 'Inter';
    background-color: transparent; /* no background */
    color: rgb(255, 255, 255);
}

.sticky {
    position: fixed;
    top: 10px;
    /* left: 40px; */
}

.floater h1 {
    margin-bottom: -20px;
}

.floater h2 {
    font-weight: 400;
}

.family {
    padding: 0%;
    background-color: #776c5b00;
}

.family img {
    position: relative;
    display: block;
    width: 100vw;
}

.footer {
    background-color: #776C5B;
    width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: "Open Sans";
    font-weight: 400;
    width: 55vw;
    font-size: 20px;
    color: #ffffff;
    text-align: left;

}

