body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    background-image: url("Images/BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    width: 100%;
    height: 230vh;
}


.header {
    /* border: 5px solid blue; */
    /* padding: 2% 2% 2% 2%; */
    gap: 6vw;
    display: flex;
    align-items: center;
    justify-items: start;
    margin-left: 2vw;
    height: 15vw;
}

.logo {
    width: 10vw;
}

.logotype {
    /* border: 1px solid red; */
    height: auto;
    width: 70%;
    max-width: 100%;
    flex-grow: auto;
    /* height: auto; */
    object-fit: cover;
}

.gallery {
    margin-right: -20px;
    display: flex;
    flex-direction: horizontal;
    width: 100vw;
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin-top: 65vh;
}

.gallery-item {
    /* background-color: black; */
    position: relative;
}

.gallery-item img {
    max-width: 100%; 
    height: 65vh;
    width:400px;
    object-fit: cover;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
}

.gallery-item:hover img {
    /* transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0.7; */
}

.gallery-item h2 {
    pointer-events: none;
    font-family: 'Inter Tight';
    user-select: none;
    font-weight: 900;
    text-transform:uppercase;
    font-size: 5.35vh;
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    text-wrap: nowrap;
    bottom: 0;
    right: -5.63vh;
    position: absolute;
    display: none;
    color: white;
}  

.gallery-item:hover h2 {
    display: block
}

.floater {
    position: absolute;
    left: 2vw;
    z-index: 3;
    font-family: 'Inter';
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.floater.fixed {
    position: fixed;
    top: 0vh;
    /* transition: top 0.3s ease; */
}

.floater2 {
    position: fixed;
    top: 5vh;
    left: 2vw;
    z-index: 3;
    font-family: 'Inter';
    background-color: transparent; /* no background */
    color: rgb(255, 255, 255);
}

@media (max-width: 400px)  {
    .floater {
        top: 70vh;
    }
}


.floater h1 {
    margin-bottom: -20px;
}

.floater h2 {
    font-weight: 400;
}

.floater a {
    color: white;
}

.family {
    padding: 0%;
    background-color: #776c5b00;
}

.family img {
    position: relative;
    display: block;
    width: 100vw;
}

.footer {
    background-color: #776C5B;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: "Open Sans";
    font-weight: 400;
    width: 55vw;
    font-size: 20px;
    color: #ffffff;
    text-align: left;

}

